<launch>
   
   <!--
      Demo of outdoor stereo mapping. 
      From bag: 
      $ rosbag record 
            $(arg stereo_namespace)/left/image_raw_throttle/compressed 
            $(arg stereo_namespace)/right/image_raw_throttle/compressed 
            $(arg stereo_namespace)/left/camera_info_throttle 
            $(arg stereo_namespace)/right/camera_info_throttle 
            /tf
    
      $ roslaunch rtabmap demo_stereo_outdoor.launch
      $ rosbag play -.-clock stereo_oudoorA.bag
   -->
   
   <!-- Choose visualization -->
   <arg name="rviz" default="false" />
   <arg name="rtabmapviz" default="false" />
   <arg name="local_bundle" default="true" />
   <arg name="approx_sync" default="true" />
    
   <arg name="stereo_namespace"        default="/stereo_down/scaled_x2"/>
   <group ns="rtabmap">   
   
      <!-- Stereo Odometry -->   
      <node pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" output="screen">
         <remap from="left/image_rect"       to="$(arg stereo_namespace)/left/image_rect"/>
         <remap from="right/image_rect"      to="$(arg stereo_namespace)/right/image_rect"/>
         <remap from="left/camera_info"      to="$(arg stereo_namespace)/left/camera_info"/>
         <remap from="right/camera_info"     to="$(arg stereo_namespace)/right/camera_info"/>
         <remap from="rgbd_image"            to="$(arg stereo_namespace)/rgbd_image"/>
         <remap from="odom"                  to="/turbot/navigator/vo_raw"/>
         <param name="approx_sync"  type="bool" value="$(arg approx_sync)"/>
         <param name="subscribe_rgbd"  type="bool" value="false"/>
         <param name="frame_id"        type="string" value="turbot/base_link"/>
         <param name="odom_frame_id"   type="string" value="turbot/odom"/>
         <param name="Odom/Strategy"      type="string" value="1"/> <!-- 0=Frame-to-Map, 1=Frame=to=Frame -->
         <param name="Vis/EstimationType" type="string" value="1"/> <!-- 0=3D->3D 1=3D->2D (PnP) -->
         <param name="Vis/MaxDepth"       type="string" value="4"/>
         <param name="Odom/GuessMotion" type="string" value="true"/>
         <param name="Vis/MinInliers"     type="string" value="20"/>
         <param unless="$(arg local_bundle)" name="OdomF2M/BundleAdjustment" type="string" value="0"/>
         <param name="OdomF2M/MaxSize"    type="string" value="1000"/> 
         <param name="GFTT/MinDistance"   type="string" value="10"/>
         <param name="GFTT/QualityLevel"  type="string" value="0.00001"/> 
         <param name="GFTT/QualityLevel"  type="string" value="0.00001"/>
      </node>
      
      <!-- Visualisation RTAB-Map -->
      <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
         <param name="subscribe_odom_info" type="bool" value="true"/>
         <param name="queue_size"          type="int" value="10"/>
         <param name="frame_id"        type="string" value="turbot/base_link"/>
         <remap from="left/image_rect"  to="$(arg stereo_namespace)/left/image_rect_color"/>
         <remap from="right/image_rect"  to="$(arg stereo_namespace)/right/image_rect"/>
         <remap from="left/camera_info"  to="$(arg stereo_namespace)/left/camera_info_throttle"/>
         <remap from="right/camera_info" to="$(arg stereo_namespace)/right/camera_info_throttle"/>
         <remap from="rgbd_image"          to="$(arg stereo_namespace)/rgbd_image"/>
         <remap from="odom_info"         to="odom_info"/>
         <remap from="odom"              to="/turbot/navigator/vo"/>
         <remap from="mapData"           to="mapData"/>
      </node>
   </group>
  
   <!-- Visualisation RVIZ --> 
   <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap_ros)/launch/config/demo_stereo_outdoor.rviz"/>
</launch>
